<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= book.pages %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= book.published %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= book.image %>
  </p>

</div>
