<div id="<%= dom_id book %>" class="card">
  <img class="rounded" src="<%= book.image %>" alt="book image" />
  <div class="card-body">
    <p class="card-text">
      <div>Title: <%= book.title %></div>
      <div>Author: <%= book.author %></div>
      <div>Pages: <%= book.pages %></div>
      <div>Published: <%= book.published %></div>
    </p>
  </div>
</div>
