<div id="<%= dom_id book %>" class="card">
  <img class="rounded" src="<%= book.image %>" alt="book image" />
  <div class="card-body">
    <p class="card-text">
      <table class="table">
        <tbody>
          <tr>
            <td>Title:</td>
            <td><%= book.title %></td>
          </tr>
          <tr>
            <td>Author:</td>
            <td><%= book.author %></td>
          </tr>
          <tr>
            <td>Pages:</td>
            <td><%= book.pages %></td>
          </tr>
          <tr>
            <td>Published:</td>
            <td><%= book.published %></td>
          </tr>
        </tbody>
      </table>
    </p>
  </div>
</div>
