<div class="container">
  <div class="row">
    <%= form_with(model: book) do |form| %>
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control #{is_field_invalid?(book, :title)}" %>
      </div>
    
      <div class="mb-3">
        <%= form.label :author, class: "form-label" %>
        <%= form.text_field :author, class: "form-control #{is_field_invalid?(book, :author)}" %>
      </div>
    
      <div class="mb-3">
        <%= form.label :pages, class: "form-label" %>
        <%= form.number_field :pages, class: "form-control #{is_field_invalid?(book, :pages)}" %>
      </div>
    
      <div class="mb-3">
        <%= form.label :published, class: "form-label" %>
        <%= form.date_field :published, class: "form-control" %>
      </div>
    
      <div class="mb-3">
        <%= form.label :image, class: "form-label" %>
        <%= form.text_field :image, class: "form-control" %>
      </div>
    
      <div class="mb-3 text-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
        <%= form.submit "Create", class: "btn btn-primary", 'data-bs-dismiss': "modal" %>
      </div>
    <% end %>
  </div>
</div>
