<div class="container">
  <div class="row">
    <%= form_with(model: book) do |form| %>
      <% if book.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <span><strong><%= pluralize(book.errors.count, "error") %></strong> prohibited this book from being saved:</span>
          <div>
            <ul>
              <% book.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    
      <div class="mb-3 col-6">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    
      <div class="mb-3 col-6">
        <%= form.label :author, class: "form-label" %>
        <%= form.text_field :author, class: "form-control" %>
      </div>
    
      <div class="mb-3 col-6">
        <%= form.label :pages, class: "form-label" %>
        <%= form.number_field :pages, class: "form-control" %>
      </div>
    
      <div class="mb-3 col-6">
        <%= form.label :published, class: "form-label" %>
        <%= form.date_field :published, class: "form-control" %>
      </div>
    
      <div class="mb-3 col-6">
        <%= form.label :image, class: "form-label" %>
        <%= form.text_field :image, class: "form-control" %>
      </div>
    
      <div class="mb-3">
        <%= link_to "Cancel", root_path, data: { turbo_method: :get, turbo_stream: true }, class: "btn btn-secondary" %>
        <%= form.submit "Create", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
