<%= turbo_frame_tag "new_read_run" do %>
  <%= form_with(model: read_run) do |form| %>
    <div id="<%= dom_id read_run %>" class="list-group" style="margin: 0.5em 0;">
      <li class="list-group-item list-group-item-dark" aria-current="true">
        <div class="row">
          <div class="col-4">
            <div class="input-group">
              <%= form.number_field :run_number, class: "form-control", placeholder: "Run number" %>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <%= form.text_field :status, class: "form-control", placeholder: "Status" %>
            </div>
          </div>
          <div class="col-2 text-end">
            <%= form.hidden_field :book_id, value: read_run.book_id %>
            <%= form.submit "Create", class: "btn btn-success btn-sm" %>
          </div>
        </div>
      </li>
    </div>
  <% end %>
<% end %>
