<div id="<%= dom_id read_run %>" class="list-group" style="margin: 1em 0;">
  <li class="list-group-item list-group-item-dark" aria-current="true">
    <div class="row">
      <div class="col-2">
        Run: <%= read_run.run_number %>
      </div>
      <div class="col-6">
        <%= turbo_frame_tag "progress_#{dom_id read_run}" do %>
          <%= render partial: "read_runs/progress_bar", locals: { read_run: read_run, total_read_pages: total_read_pages } %>
        <% end %>
      </div>
      <div class="col-3 text-end">
        Status: <%= read_run.status.capitalize %>
      </div>
      <div class="col-1 text-end">
        <%= button_to read_run_path(read_run), method: :delete, class: "btn btn-danger btn-sm" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </li>
  <%= turbo_frame_tag id="sessions_#{dom_id read_run}" do %>
    <% read_run.read_sessions.each do |read_session| %>
      <%= render partial: "read_sessions/read_session", locals: { read_session: read_session } %>
    <% end %>
  <% end %>
  <li class="list-group-item">
    <div class="row">
      <div class="text-end">
        <%= button_to "Add Session", new_read_session_path(read_run_id: read_run.id), class: "btn btn-info btn-sm" %>
      </div>
    </div>
  </li>
</div>
