<%= turbo_frame_tag "read_session_form_#{dom_id read_run}" do %>
  <%= form_with(model: read_session) do |form| %>
    <li id="<%= dom_id read_session %>" class="list-group-item">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <%= form.number_field :read_pages, class: "form-control #{is_field_invalid?(read_session, :read_pages)}", placeholder: "Read pages" %>
          </div>
        </div>
        <div class="col-6 text-end">
          <%= form.hidden_field :read_run_id, value: read_session.read_run_id %>
          <%= link_to "Cancel", :back, class: "btn btn-secondary btn-sm", data: { turbo_frame: "_top" } %>
          <%= form.submit class: "btn btn-success btn-sm" %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
